/* 1HEATHER ADVICE STYLING */
.heather-advice{
  font-size: 11px;
  background-color: #f9f9ff;
}

.heather-advice h1{
  text-align: center;
}

.heather-advice .advice{
  padding: 1em 5em;
}

.heather-advice h4{
    text-align: center;
    font-family: helevatica arial;
    font-size: 1.5em;
}
